head,
body {
    width: 100%;
    height: 100%;

    padding: unset;
    margin: unset;
    border: unset;
}

div  {
	font-size: 20px;
}

body {
    display: grid;
    grid-template-rows: 50px auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    box-sizing: border-box;
    padding: 1%;
}

main {
	box-sizing: border-box;
	padding: 20px;
}

ul {
	list-style-type: none;
	padding: unset;
}

a {
	text-decoration: none;
}

.block {
	background-color: #e6e6e6;

	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 20px;
}

.value {
	color: #999999;
}

img {
    width: 40px;
}

h1 {
	margin: unset;
	margin-bottom: 10px;
}

.details {
	display: flex;
	justify-content: space-between;
}

.event {
	box-sizing: border-box;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
}